{% extends "base.html" %}
{% block body %}
<div class="container mx-auto">
    <h1>Employee Data</h1>
    
    <div class="row mx-auto">
        
        
        <p>{{employee.name}}</p> <br>
        <p>{{employee.age}}</p> <br>
        <p>{{employee.salary}}</p> <br>

    </div>
    <div class="row">
      <a href="{% url "update_employee" %}" type="button" class="btn btn-primary mt-3">Update Employee</a>
      <a href="{% url "delete_employee" employee.id %}" type="button" class="btn btn-danger mt-3">Delete Employee</a>
    </div>

    

  </div>

{% endblock body %}